* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --main-color: #f25341;
  --text-color: #35404e;
  --bg-color: #f9f9ff;
  --bg-fon: 3.6rem;
  --h2-font: 2.26rem;
  --p-font: 1.1rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 111;
  padding: 20px 100px;
  background: var(--bg-color);
  box-shadow: rgba(33, 35, 38, 0.13) 0px 5px 5px 0px;

}

.logo {
  font-size: 2.2em;
  font-weight: 600;
  color: var(--main-color);
  animation: lon 3s ease-in-out infinite;
}
@keyframes lon{
  0%{
    color: var(--main-color);
  }
  50%{
    color: var(--text-color);
  }
  100%{
    color: var(--main-color);
  }

}

.navlist {
  display: flex;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.navlist a {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  padding-left: 15px;
  transition: color .4s ease;
}

.navlist a:hover {
  color: var(--main-color);
}

#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

section {
  padding: 75px 16.7%;
  margin-top: 50px;
}

.home {

  width: 100%;
  min-height: 95vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  align-items: center;
}

.home-imag img {
  max-width: 110%;
  width: 530;
  height: auto;
  border-radius: 20px;
}
.home-imag{
  animation: pulse 10s ease-in-out infinite;
}

.home-text h5 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 15px;
  color: var(--main-color);
  opacity: 0; /* Initially hidden */
  animation: fadeIn 1s ease forwards;
}

.home-text h1 {
  font-size: var(--bg-fon);
  color: var(--text-color);
  line-height: 1.4;
  margin-bottom: 25px;
  opacity: 0; /* Initially hidden */
  animation: fadeIn 1s ease forwards;
}

.home-text p {
  max-width: 1005;
  font-size: var(--p-font);
  color: #717173;
  line-height: 1.8;
  margin-bottom: 20px;
  opacity: 0; /* Initially hidden */
  animation: fadeIn 1s ease forwards;
}
@keyframes fadeIn {
  from {
      opacity: 0; /* Start with opacity 0 */
  }
  to {
      opacity: 1; /* Fade in to full opacity */
  }
}
.btn {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background: var(--main-color);
  border-radius: 5rem;
  transition: 0.5s ease;
}

.btn i {
  margin-right: 10px;
}

.btn:hover {
  transform: scale(1.2);
  background: #f37465;
  box-shadow: 0px 5px 15px 2px rgp(64 44 44 / 18%);
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 5rem;
  align-items: center;
  padding-top: 100px;
}
.about-imag{
  animation: pulse 10s ease-in-out infinite;
}
@keyframes pulse{
  0% {
    transform: scale(1); /* Initial scale */
}
50% {
    transform: scale(1.1); /* Scale up to 1.2x size */
}
100% {
    transform: scale(1); /* Scale back to original size */
}
}
.about-imag img {
  max-width: 100%;
  width: 550px;
  height: auto;
  border-radius: 5px 90px 0 0;
}

.about-text span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--main-color);
  margin-bottom: 15px;
}

.about-text h2 {
  font-size: var(--h2-font);
  color: var(--text-color);
  margin-bottom: 15px;
}

.about-text p {
  font-size: var(--p-font);
  color: #717173;
  line-height: 1.7;
  margin-bottom: 15px;
}

.heading {
  text-align: center;

}

.heading span {
  font-size: 1rem;
  color: var(--main-color);
}

.heading h2 {
  font-size: var(--h2-font);
}

.service {
  padding-top: 100px;

}

.service-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 4rem;
}

.row {
  padding: 60px 45px;
  background: white;
  border-radius: 10px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.04)0px 3px 5px;
  transition: 0.5s ease;
}

.row i {
  font-size: 3.2rem;
  color: var(--main-color);
  margin-bottom: 20px;
}

.row h3 {
  margin-bottom: 19px;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color);
}

.row p {
  font-size: 18px;
  color: #717173;
  line-height: 30px;
}

.row:hover {
  transform: scale(1.1);
  border-bottom: 2px solid var(--main-color);
}

.protofilo {
  padding-top: 100px;
}

.protofilo-contaniar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 4rem;
}
.box{
  height: 500px;
  width: auto;
  border-radius: 10px;
  transition: all 0.5s ease;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.527)0px 3px 5px;
  position: relative;
  cursor: pointer;
}
.box-1{
  background: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3)),url(../imge/Homepage-banner-1000-x-600-dentist.png);
  background-size: 500px; 
}
.box-1:hover{
  background: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3)),url(../imge/Homepage-banner-1000-x-600-dentist.png);
  background-size: 600px; 
}
.box-2{
  background: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3)),url(../imge/real\ estate.jpg);
  background-size: 500px; 
}
.box-2:hover{
  background: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3)),url(../imge/real\ estate.jpg);
  background-size: 600px; 
}
.box-3{
  background: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3)),url(../imge/photo3-1024x1024.png);
  background-size: 500px; 
}
.box-3:hover{
  background: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3)),url(../imge/photo3-1024x1024.png);
  background-size: 600px; 
}
.box-4{
  background: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3)),url(../imge/60d48302d4a99.jpg);
  background-size: 500px; 
}
.box-4:hover{
  background: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3)),url(../imge/60d48302d4a99.jpg);
  background-size: 600px; 
}
.box-5{
  background: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3)),url(../imge/image-asset.jpeg);
  background-size: 500px; 
}
.box-5:hover{
  background: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3)),url(../imge/image-asset.jpeg);
  background-size: 600px; 
}
.box-6{
  background: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3)),url(../imge/fgjwpu1661829669512.jpg);
  background-size: 500px; 
}
.box-6:hover{
  background: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3)),url(../imge/fgjwpu1661829669512.jpg);
  background-size: 600px; 
}
.innar{
  position: absolute;
  bottom: 45px;
  left: 35px;

}
.innar h6{
  color: #c6c9d8;
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 500;
  margin-bottom: 10px;
}
.innar h3{
font-size: 1.7rem;
color: white;
font-weight: 600;
line-height: 1.6;
margin-bottom: 10px;
}
.innar button{
  background: var(--main-color);
  border: 2px solid var(--main-color);
  color: white;
  padding: 7px 22px;
  border-radius:5px ;
  cursor: pointer;
  transition: 0.4s ease;
}
.innar button:hover{
  background: transparent;
  border: 2px solid #c6c9d8;
}
.cta{
  background: var(--main-color);
  width: 66.6%;
  margin: 100px auto;
  padding: 70px 100px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  border-radius: 10px;
  background-image: url(../imge/intro.png);
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.04)0 3px 5px;
}
.cta-text h2{
  color: white;
  font-size: var(--h2-font);
  margin-bottom: 25px;
}
.cta-text p{
  color: white;
}
.cta-btn{
  background: white;
  color:var(--main-color);
  padding: 12px 39px;
  border-radius:30px;
  transition: 0.4s ease;
}
.cta-btn:hover{
  transform: scale(1.1);
  box-shadow: rgba(31, 29, 29, 0.308) 0px 7px ;
}
.contact-contaniar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  grid-gap: 2rem;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
}
.con-box{
  padding: 40px 25px;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.04)0 3px 5px;
}
.icon i{
  height: 50px;
  width: 50px;
  background: var(--main-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
  border-radius: 50px;
  margin-bottom: 15px;
  box-shadow: 0px 15px 30px 0px rgba(0 0 0 /25%);
  transition: 0.4s ease;
}
.icon i:hover{
  color: white;
  background: var(--text-color);
}
.con-box h3{
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 15px;
  color: var(--text-color);
}
.con-box h5{
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 5px;
  color: var(--text-color);
}
.con-box h6{
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 5px;
  color: var(--text-color);
}
.bottom{
  width: 100%;
  padding:20px 0 ;
  text-align: center;
}
.bottom p{
  color: var(--text-color);
  font-size:0.9rem ;
  font-weight: 500;
  line-height: 2;
}
@media (max-width:1500px){

  header{
    padding: 15px 42px;
  }
  :root{
    --big-font:3rem;
    --h2-font:2rem;
  }
  .cta{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px 25px;
  }
  .cta-text h2{
    margin-bottom: 10px;
  }
  .cta-text p{
    margin-bottom: 30px;
  }
}
@media (max-width:1340px){
  section{
    padding: 50px 5%;
  }
}
@media (max-width:1060px){
  #menu-icon{
    display:block;
  }
  header .navlist{
    position: absolute;
    top: -400px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: white;
    transition: 0.4s ease;
  }
  header .navlist .active{
    top:6px;
  }
  .navlist a{
    display: block;
    padding: 1.6rem;
  }
 
}
@media (max-width:950px){
  .home{
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 80px;
  }
  .home-text p{
    width: 100%;
  }
  .home-imag img{
    width: 60%;
  }
  .about{
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about img{
    width: 60%;
  }
  .about-imag{
    order: 2;
  }
}
@media (max-width:1700px){
  .box-1{
    background-size: 550px; 
  }
  .box-1:hover{
    background-size: 700px; 
  }
  .box-2{
    background-size: 550px;
  }
  .box-2:hover{
    background-size: 700px;  
  }
  .box-3{
    background-size: 550px;
  }
  .box-3:hover{
    background-size: 700px; 
  }
  .box-4{
    background-size: 550px;
  }
  .box-4:hover{
    background-size: 700px; 
  }
  .box-5{
    background-size: 550px;
  }
  .box-5:hover{
    background-size: 700px; 
  }
  .box-6{
    background-size: 550px;
  }
  .box-6:hover{
    background-size: 700px;  
}
}
@media (max-width:1120px){
  .box-1{
    background-size: 850px; 
  }
  .box-1:hover{
    background-size: 700px; 
  }
  .box-2{
    background-size: 850px;
  }
  .box-2:hover{
    background-size: 700px;  
  }
  .box-3{
    background-size: 850px;
  }
  .box-3:hover{
    background-size: 700px; 
  }
  .box-4{
    background-size: 850px;
  }
  .box-4:hover{
    background-size: 700px; 
  }
  .box-5{
    background-size: 850px;
  }
  .box-5:hover{
    background-size: 700px; 
  }
  .box-6{
    background-size: 850px;
  }
  .box-6:hover{
    background-size: 700px;  
}
}